
    <%- include('../partials/header') %>
  </br></br></br>
  <nav
  class="container-fluid bg-success mt-5 d-flex justify-content-center border rounded"
>
  <span class="h1 text-light"
    ><h2>I Love Budgets</h2></span
  >
</nav>
    <%- include('../partials/footer') %>


