<!DOCTYPE html>
<html lang="en">
  <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include('../partials/header') %>
  </br>

    <%- include('../partials/footer') %>
  </body>
</html>
