<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>I Love Budgets</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top m-2">
      <div class="container-fluid">
        <a class="navbar-brand text-success" href="/">I love Budgets</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Budgets
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="inline my-2 my-lg-0" action="/budgets" method="POST">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Create new budget
            </button>
          </form>
        </div>
      </div>
      <!-- <ul class="nav-item">
        <a class="nav-link" href="/">Current Balance:</a
        ><a class="text-success text-decoration-none">1000000</a>
      </ul> -->
      <div class="justify-content-end">
  <div class="text-center">
      <h6>
        Current Balance: <%= total%></h6>

    <p class="lead"></p>
    <form action="/balances" method="POST" >
    <input type="text" name="amount"
      placeholder="Balance"
      />
      <button class="btn btn-outline-success mt-1" type="submit">Update Balance</button>
      </form>
    </div>
    
  </div>
</div>
</nav>



</br></br></br></br></br></br></br></br>

<%- include('../partials/footer') %>


