<%- include("../partials/header") %>
</br></br></br></br></br></br></br></br>

<div class="container-fluid row">
    <form class="my-2 my-lg-0" action="/budgets" method="POST">
        <label class="d-block">Name:
            <input type="text" name="name">
        </label>
        <label class="d-block">Description:
        <input type="text" name="description"></label>
        <label class="d-block">Starting Budget Amount:
            <input type="number" name="amount">
        </label>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Create new budget
        </button>
</form>
</div>
<a href="/budgets/index">Show</a>












<%- include('../partials/footer') %>
